@inject BlogBasicsModel siteSettings

<img src="images/@siteSettings.BlogAvatar">
<h3 class="uk-card-title uk-margin-remove-bottom">@siteSettings.BlogOwner</h3>
<div class="uk-text-meta uk-margin-remove-top">
	<Markdown Text="@tagline()" />
</div>

@code {
	private string tagline()
	{
		var rdm = new Random();
		return siteSettings.BlogTaglines[rdm.Next(siteSettings.BlogTaglines.Count())];
	}
}
