@inherits LayoutComponentBase

<div class="uk-container">
    <SiteHeader />

    <div uk-grid>
        <div class="uk-width-expand@m main">
            @Body
        </div>
        <div class="uk-width-1-4@m">
            <Sidebar />
        </div>
    </div>
</div>
