@inject BlogBasicsModel siteSettings

<nav uk-navbar class="uk-navbar-container uk-margin-medium-bottom">
	<div class="uk-navbar-left">
		<a class="uk-navbar-item uk-logo" href="/">@siteSettings.BlogName</a>
	</div>
</nav>
